/* body{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.login,
.register{
    width: 100%;
    padding-top: 3rem;
}

.login > img,
.register > img{
    width: 35%;
    margin-bottom: 2rem;
   
}
h1{
    color:#DC143C;
}
.login_btn{
    margin-left: 5rem;
}
.register_btn{
    margin-right: 3rem;
} */

/* .addimage{
    background-image: url("C:\Users\Lenovo\Desktop\project\client\src\images\background.jpg");
    min-height:781px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) 
.addimage{
  left: 50%;
  margin-left: -512px;  
}
} */